[submodule "vscode"]
	path = vscode
	url = https://github.com/UCSD-PL/vscode
	branch = snippy-plus
[submodule "synthesizer"]
	path = synthesizer
	url = https://github.com/KasraF/SnippySynthesizer
	branch = snippy-plus
[submodule "monaco-editor"]
	path = monaco-editor
	url = https://github.com/KasraF/monaco-editor
